################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/DirectX12_Renderer/v17
/.vs/DirectX12_Renderer/FileContentIndex
/x64/Debug
/DirectX12_Renderer/x64/Debug
/DirectX12_Renderer/lroc_color_poles.tif
/DirectX12_Renderer/ldem_64.tif
/DirectX12_Renderer/TychoSkymapII.t5_16384x08192.tif
/DirectX12_Renderer/x64/Release
/x64/Release
